@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(40, 40, 40);
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 46px;
}

.pink{
    color: rgb(250, 139, 157);
}

li{
    font-weight: 600;
}

#cart-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: fit-content;
}

.cartImg{
    width: 30px;
    padding: 20px 12px 0 0;
}

.cartNumber{
    color: rgb(40, 40, 40);
    text-align: end;
}

.homeSubHeader{
    width: 100vw;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.homeSubHeader h2{
    padding-bottom: 5px;
}

.homeContainer, .checkoutContainer, .itemContainer, .itemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent, .itemDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.homeContent, .checkoutContent, .itemDetail{
    margin-top: 10px;
    width: 1000px;
}

.homeContent:hover{
    cursor: pointer;
}

.skincareImg{
    width: 200px;
}

.skincareAd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 6px;
    height: 200px;
    width: 800px;
    padding-right: 10px;
    background-color: rgb(236, 241, 244);
}

.boxesTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 45px;
    text-align: end;
    background-color: rgb(254, 252, 243);
    height: 350px;
}

.boxesImg{
    height: 350px;
}

.checkoutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutContent h2{
    font-size: 28px;
    padding: 15px 0 25px 0;
    width: 800px;
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: center;
}

.checkoutItemParent{
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(152, 151, 151);
}

.checkoutItemThumb{
    width: 150px;
}

.checkoutItemName, .checkoutItemPrice, .checkoutItemQuantity{
    font-size: 22px;
}

.quantityWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addQuantity, .minusQuantity{
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 600;
    height: fit-content;
    color: rgb(250, 139, 157);
    font-family: 'Open Sans', Arial, sans-serif;
}

.checkoutContent .addQuantity{
    padding-top: 3.5px;
    font-size: 26px;
}

.checkoutContent .minusQuantity{
    padding-bottom: 2px;
}

.addQuantity:hover, .minusQuantity:hover{
    cursor: pointer;
    color: rgb(210, 115, 131);
}

.totalPriceContainer{
    width: 800px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 22px;
}

.totalPriceContainer .pink{
    padding-right: 25px;
}

.itemText{
    width: 400px;
    padding: 25px;
}

.itemText p{
    font-size: 26px;
    padding-bottom: 10px;
}

.singleItemTitle{
    font-weight: bold;
}

.singleItemPrice{
   font-size: 20px!important;
   padding-bottom: 20px!important;
}

.itemText .addQuantity, .minusQuantity{
    font-size: 30px;
}

.itemText .addQuantity{
    padding-bottom: 10px;
    font-size: 26px;
}

.itemText .minusQuantity{
    padding-bottom: 12px;
}

.itemsContent{
    width: 1000px;
}

.itemsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.itemsThumb{
    width: 300px;
    padding: 5px;
}

.itemsThumb:hover{
    cursor: pointer;
}

.checkout{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    padding: 4px 10px;
    background-color: rgb(250, 139, 157);
    color: white;
}

.checkout:hover{
    cursor: pointer;
}